/* Root level Box-Sizing reset. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HTML and Body common styles. */
html, body{
    height: 100%;
    margin: 0;
    background-color: #d5e1ef;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

/* Card Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* QR Code and Text Card */
.card{
    background-color: #ffffff;
    text-align: center;
    padding: 15px;
    border-radius: 15px;
    max-width: 285px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card h1, p{
    margin: 10px 10px;
    font-style: normal;
}

.card h1{
    font-size: 20px;
    color: #1f2937;
    font-weight: 700;
}

.card p{
    font-size: 14px;
    color: #6b7280;
    font-weight: 400;
    
}

/* Attribution */
.attribution {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 10px;
}

.attribution a {
    color: #007bff;
    text-decoration: none;
}

.attribution a:hover {
    text-decoration: underline;
}
